---
title: 'ExtremeBook: Mobile Modular Cluster Computing'
description: Where modularity and mobility meet
---

<section class="hero">
	<div class="text-container">
		<h1 class="editable"><strong>ExtremeBook M<sup>2</sup>C<sup>2</sup></strong></h1>
		<h2 class="editable">Mobile Modular Cluster Computer </h2>
		<p class="subtext editable">Flexibility and Power in one package.</p>
		<div class="cta button alt"><a href="{{ site.baseurl }}/contact/">Pre-Order Now</a></div>
		<div>
			<img src="{{ site.baseurl }}/images/parts/ExtremeBook_M2C2.png" alt="ExtremeBook"/>
		</div>
	</div>
</section>

<div class="content">
		<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Experience <strong>Mobile Cluster</strong> computing.</h2>
				<p>Base package includes an ODROID-H3+ mainboard + a Raspberry Pi 4 worker node. Handle whatever workload life throws at you.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/parts/ODROID-H3.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>x86 vs ARM. Why not <strong>both?</strong></h2>
				<ul>
					<li><p>Intel Celeron N6005 Processor (10nm, Quad-Core, TDP 10W) 2.0-3.3Ghz  x86 (Mainboard)</p></li>
					<li><p>Quad-core Cortex-A72 1.5GHz  ARM (Node 1)</p></li>
				</ul> 
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/parts/RaspberryPi-4.png" alt="Screenshot"/>
			</div>
		</div>
	</section>
	
		<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Built for <strong>Multi-Tasking.</strong></h2>
				<ul>
					<li><p>64GB Dual-Channel DDR4 (Mainboard)</p></li>
					<li><p>8GB LPDDR4 (Node 1)</p></li>
				</ul>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/parts/64GB_RAM.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

		<section>
		<div class="container flex">
			<div class="text editable">
				<h2>UHD <strong>4K LED</strong> Display.</h2>
				<ul>
					<li><p>15.6" Display</p></li>
					<li><p>Native 4K</p></li>
					<li><p>Multiple inputs</p></li>
				</ul>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/parts/4k_screen2.jpg" alt="Screenshot"/>
			</div>
		</div>
	</section>
	
		<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Stay powered with our <strong>dual-battery</strong> pack.</h2>
				<ul>
					<li><p>128Wh of storage</p></li>
					<li><p>Up to 8hrs of battery life</p></li>
					<li><p>Power additional devices</p></li>
				</ul>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/parts/battery_double2.jpeg" alt="Screenshot"/>
			</div>
		</div>
	</section>
	
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>Rugged</strong> case for working anywhere.</h2>
				<p>A case for the most extreme environments, with space to expand.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/parts/pelican-case.jpeg" alt="Screenshot" />
			</div>
		</div>
	</section>
	
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Features:</h2>
				<ul>
					<li><p>Detachable wireless keyboard + touchpad</p></li>
					<li><p>WiFi + 2x 2.5Gbit Ethernet (Mainboard), WiFi + Bluetooth + Gigabit Ethernet (Node 1)</p></li>
					<li><p>2x USB 3.0 + 2x USB 2.0 (Mainboard), 2x USB 3.0 + 2x USB 2.0 (Node 1)</p></li>
					<li><p>100W AC charger (50W max power consumption!)</p></li>
					<li><p>8 Megapixel, 1080p camera</p></li>
					<li><p>750GB SSD (OS Drives)</p></li>
				</ul> 
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/parts/ODROID-H3_under.jpg" alt="Modular"/>
			</div>
		</div>
	</section>
	
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>What does <strong>modular</strong> mean to us?</h2>
				<p>Every single part on the ExtremeBook can be replaced or upgraded. If any part fails, replace it with new or used parts of your choice. All interfaces between components are standard (i.e. plug-and-play). In addition to upgrading or replacing individual parts, the ExtremeBook is ready to scale horizontally (more CPUs/memory/etc).</p>
				<p>The days of ditching your device because of a couple older or broken components are gone; the future is sustainable and the power is in your hands!</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/modular.png" alt="Modular" />
			</div>
		</div>
	</section>

	<section class="testimonial">
		<div class="container flex">
			<div class="testimonial-block">
				<div class="square-image"><img src="/images/ed_user_1200x800.png" alt="Ed Brady" class="editable"></div>
				<blockquote>
					<p class="editable">The ExtremeBook has completely changed my consumer experience. No more throwing out the old model for a shiny new one. The M<sup>2</sup>C<sup>2</sup> platform gives me the ability to scale vertically AND horizontally while keeping all the various components that still work perfectly fine.</p>
					<p class="editable author">Ed B - ExtremeBook User</p>
				</blockquote>
			</div>
		</div>
	</section>

	<section class="bottom-cta">
		<h2 class="editable">Take control of what goes in <strong>your lap</strong></h2>
		<div class="button alt"><a href="/contact/">Pre-Order Now</a></div>
	</section>
</div>
