---
title: Pricing
heading: Find the perfect option for your workloads
description: All models include our Basic Package and can be upgraded at any time.
pricing_table:
- name: Basic
  color: "#8e8e8e"
  features:
  - text: "$1,899.99"
    highlight: true
  - text: ODROID-H3+ Mainboard
    highlight: false
  - text: Raspberry Pi 4 Node 1
    highlight: false
  - text: 2 x CPU / 8 Cores
    highlight: false
  - text: 72GB RAM
    highlight: false
  - text: 250GB PCIe SSD / 500GB PCIe USB 3.1
    highlight: false
  call_to_action:
    link: "/contact/"
    text: Pre-Order Now
- name: Node+
  color: "#4a4a4a"
  features:
  - text: "$2,299.99"
    highlight: true
  - text: Basic Package (Mainboard + Node 1)
    highlight: false
  - text: Raspberry Pi 4  Node 2
    highlight: false
  - text: 3 x CPU / 12 Cores
    highlight: false
  - text: 80GB RAM
    highlight: false
  - text: "+ 250GB PCIe USB3.1"
    highlight: false
  call_to_action:
    link: "/contact/"
    text: Pre-Order Now
- name: Node++
  color: "#000000"
  features:
  - text: "$2,499.99"
    highlight: true
  - text: Node+ Package (Mainboard + Node 1 + Node 2)
    highlight: false
  - text: ODROID-M1  Node 3
    highlight: false
  - text: 4 x CPU / 16 Cores
    highlight: false
  - text: 88GB RAM
    highlight: false
  - text: "++  250GB PCIe USB3.1"
    highlight: false
  call_to_action:
    link: "/contact/"
    text: Pre-Order Now
faq:
- question: What types of payment do you accept?
  answer: None at this time. Job offers welcome!
- question: Can I upgrade my ExtremeBook at a later time?
  answer: Yes, you can upgrade at anytime. <br>Pricing is subject to change based
    on supply.
- question: When can I buy one for real?
  answer: While we are not currently shipping units, design details can be found on
    our <a href="/blog/">blog</a> to build your own.
- question: Questions?
  answer: <a href="/contact/">Contact us</a> for any further questions.
---

<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
